<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>A-PROPOS</h2>
        <p>Pourquoi prendre rendez-vous avec Medicio?
            Avec Medicio, prenez rendez-vous en ligne avec votre médecin autrement</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="assets/img/departments-1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p class="font-italic">
            
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> gratuit.</li>
            <li><i class="icofont-check-circled"></i> plus vite</li>
            <li><i class="icofont-check-circled"></i> Recevez des sms/mail de rappel personnalisés</li>
          </ul>
          <p>
           Notre application permet de prendre rdv facilement plus vite avec le plus proche médecin
          </p>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Us Section -->