
<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <img src="assets/img/img4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Qui Somme_Nous?</h5>
                   <div class="sidebar_title" >Pour Les Patients</div>
                  <p class="card-text">MEDICIO est une plateforme innovante qui vous permet de trouver rapidement un médecin le plus proche de chez vous et de prendre rendez-vous en ligne gratuitement.
                    MEDICIO est la moteur de recherche
                  </p>
                  <div class="sidebar_title" >Pour Les Medecins</div>
                  <p class="card-text">est un service complet de gestion de cabinet médical, qui optimise votre organisation et vous fait gagner du temps.
                  </p>
                 <p class="card-text"> Notre objectif final est d'améliorer l'accès aux soins en mettant à votre disposition des outils simples et intuitifs pour que chacun devienne acteur de sa santé et de son bien-être.</p>
                </div>
              </div>
        </div>
    </div>










    
            <app-footer></app-footer>
